<!-- detailproduit.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <img src="{{ product?.imageUrl }}" class="card-img-top" alt="{{ product?.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product?.title }}</h5>
          <p class="card-text">{{ product?.description }}</p>
          <p class="card-text">Prix : {{ product?.price | currency:'EUR':'symbol':'1.2-2' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
