/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

/* .card-deck{
  align-items: center;
  text-align: center;
  font-size: large;
}
.card-title{
  font-size: large;
} */
